.json-view {
    --theme-base00: #002b36;
    --theme-base01: #073642;
    --theme-base02: #586e75;
    --theme-base03: #657b83;
    --theme-base04: #839496;
    --theme-base05: #93a1a1;
    --theme-base06: #eee8d5;
    --theme-base07: #fdf6e3;
    --theme-base08: #dc322f;
    --theme-base09: #cb4b16;
    --theme-base0A: #b58900;
    --theme-base0B: #859900;
    --theme-base0C: #2aa198;
    --theme-base0D: #268bd2;
    --theme-base0E: #6c71c4;
    --theme-base0F: #d33682;

    font-size: 0.7rem;
    line-height: 0.85rem;
    max-height: 90vh;
    overflow: auto;
    font-family: Roboto Mono, monospace;
    white-space: pre-wrap;
    background-color: var(--theme-base07);
    color: var(--theme-base04);
    padding: 1rem;

    &--dark {
        background-color: var(--theme-base00);
        color: var(--theme-base05);
    }
    @media (prefers-color-scheme: dark) {
        background-color: var(--theme-base00);
        color: var(--theme-base05);
    }

    dl dl {
        margin-left: 0.75rem;
    }
    &--node {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: baseline;
    }
    &--number {
        color: var(--theme-base09);
    }
    &--string {
        color: var(--theme-base0B);
        &::before {
            content: '"';
        }
        &::after {
            content: '"';
        }
    }
    &--key {
        color: var(--theme-base0D);
        display: inline-block;
        font-weight: 700;
        margin-right: 0.5rem;
    }
    &--node-key {
        &::before {
            //content: '  ';
        }
        &.collapsed {
            &::before {
                content: '▶ ';
            }
        }
        &.open {
            &::before {
                content: '▼ ';
            }
        }

    }
    &--collapsed-object {
        &::before {
            content: '{';
        }
        &::after {
            content: '}';
        }
    }

    &--collapsed-array {
        &::before {
            content: '[';
        }
        &::after {
            content: ']';
        }
    }
    &--collapsed-value {}
}
